@use '~sprucecss/scss/spruce';

.form-group-stack {
    @include spruce.layout-stack(spruce.spacer(s));
}

.form {
    &--inline {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(s);
    }
}

.form-group {
    &--inline {
        align-items: center;
        display: flex;
        flex-grow: 1;
        gap: spruce.spacer(s);

        > * + * {
            margin-block-start: 0;
        }
    }
}

.form-group-inner {
    &--stack {
        align-items: center;
        display: flex;
        flex-direction: column;

        > *:first-child {
            border-end-start-radius: 0;
            border-end-end-radius: 0;
        }

        > * + * {
            border-start-start-radius: 0;
            border-start-end-radius: 0;
            margin-block-start: -1px;
        }

        @include spruce.breakpoint(xs) {
            flex-direction: row;

            > *:first-child {
                border-radius: spruce.$form-control-border-radius;
                border-start-end-radius: 0;
                border-end-end-radius: 0;
            }

            > * + * {
                border-radius: spruce.$form-control-border-radius;
                border-start-start-radius: 0;
                border-end-start-radius: 0;
                margin-block-start: 0;
                margin-inline-start: -1px;
            }
        }
    }
}

select {
    option[disabled]:first-child {
        color: spruce.color(secondary);
        cursor: not-allowed;
        font-size: spruce.$font-size-sm;
        font-weight: 700;
        text-transform: uppercase;
    }
}
