@use '~sprucecss/scss/spruce';

.form-group-stack {
    @include spruce.layout-stack(spruce.spacer(s));
}

.form {
    &--inline {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(s);
    }
}

.form-group {
    &--inline {
        align-items: center;
        display: flex;
        flex-grow: 1;
        gap: spruce.spacer(s);

        > * + * {
            margin-block-start: 0;
        }
    }
}

select {
    option[disabled]:first-child {
        color: spruce.color(secondary);
        cursor: not-allowed;
        font-size: spruce.$font-size-sm;
        font-weight: 700;
        text-transform: uppercase;
    }
}
