@use 'sass:color';
@use '~sprucecss/scss/spruce';

.table {
    a {
        text-decoration: none;
    }

    thead {
        th {
            background-color: spruce.color(primary);
            color: hsl(0 0% 100%);
            line-height: spruce.$line-height-sm;
        }
    }

    .select-row-wrapper {
        display: flex;

        .form-check {
            margin-block-end: 1px;
        }
    }

    &__actions {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(xs);
        min-width: 6.5rem;
    }

    .th-helper {
        align-items: center;
        display: flex;
        gap: spruce.spacer(xxs);
    }

    &-sort-btn {
        @include spruce.clear-btn;
        display: inline-flex;
        height: 0.85rem;
        opacity: 0.5;
        transition-duration: spruce.transition(duration);
        transition-property: opacity;
        transition-timing-function: spruce.transition(timing-function);
        width: 0.85rem;

        &:hover,
        &:focus {
            opacity: 0.75;
        }

        svg {
            height: auto;
            width: 100%;
        }
    }

    tbody {
        tr.is-trashed {
            background-color: color.scale(hsl(0 71% 51%), $lightness: 80%)
        }
    }
}
