@use '~sprucecss/scss/spruce';

.table {
    a {
        text-decoration: none;
    }

    thead tr {
        th {
        background-color: spruce.color(primary);
        color: #fff;
        }
    }

    th,
    td {
        &:first-child {
            border-start-start-radius: spruce.$border-radius-lg;
            border-end-start-radius: spruce.$border-radius-lg;
        }

        &:last-child {
            border-start-end-radius: spruce.$border-radius-lg;
            border-end-end-radius: spruce.$border-radius-lg;
        }
    }

    td {
        color: spruce.color(text);
    }

    th,
    td {
        border-bottom: none;
    }

    .select-row-wrapper {
        display: flex;

        .form-check {
            margin-block-end: 1px;
        }
    }

    &__actions {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(xs);
    }

    .th-helper {
        align-items: center;
        display: flex;
        gap: spruce.spacer(xxs);
    }

    &-sort-btn {
        @include spruce.clear-btn;
        display: inline-flex;
        height: 0.85rem;
        opacity: 0.5;
        transition: opacity var(--#{spruce.setting(prefix)}-transition-duration) var(--#{spruce.setting(prefix)}-transition-timing-function);
        width: 0.85rem;

        &:hover,
        &:focus {
            opacity: 0.75;
        }

        svg {
            height: auto;
            width: 100%;
        }
    }
}
