@use 'sprucecss/scss/spruce';

.table {
  a {
    text-decoration: none;
  }

  thead tr {
    th {
      background-color: spruce.color(primary);
      color: #fff;
    }
  }

  th,
  td {
    &:first-child {
      border-start-start-radius: spruce.$border-radius-lg;
      border-end-start-radius: spruce.$border-radius-lg;
    }

    &:last-child {
      border-start-end-radius: spruce.$border-radius-lg;
      border-end-end-radius: spruce.$border-radius-lg;
    }
  }

  td {
    color: spruce.color(text);
  }

  th,
  td {
    border-bottom: none;
  }

  .select-row-wrapper {
    display: flex;

    .form-check {
      margin-block-end: 1px;
    }
  }
}
