includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    databaseMigrationsPath:
        - database/migrations/
        - vendor/orchestra/testbench-core/laravel/migrations/
    scanFiles:
        - tests/phpstan/FieldWithRoute.php
        - tests/phpstan/MetaDataModel.php
    configDirectories:
        - config/
    paths:
        - src/
        - config/
        - database/
        - routes/
    level: 5
    checkClassCaseSensitivity: false
    checkDynamicProperties: true
    checkExplicitMixed: false
    checkImplicitMixed: false
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    ignoreErrors:
        - '#^Unsafe usage of new static#'
        - '#should return static\((Cone\\Root\\\S+)\) but returns \1#'
        # Illuminate\View\View vs. Illuminate\Contracts\View\View
        - '#^Method Cone\\\S+::render\(\) should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\View\.$#'
        # SoftDeletes
        - '#(\$forceDeleting|::withTrashed|::onlyTrashed|::trashed|::restore)#'
