@use '~sprucecss/scss/spruce';

.site-auth {
    align-items: center;
    background: linear-gradient(180deg, hsl(217 100% 97%) 4%, #fff);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: spruce.spacer(s);

    &__inner {
        max-width: 25rem;
        width: 100%;
    }

    &__logo {
        margin-block-end: spruce.spacer(m);
        margin-inline: auto;
        width: 6rem;
    }

    &__panel {
        background-color: spruce.color(background);
        border: 1px solid var(--spruce-sidebar-color-border);
        border-radius: spruce.$border-radius-lg;
        padding: clamp(2rem, 2vw + 1rem, 2.5rem);
    }

    .alert {
        margin-block-end: spruce.spacer(s);
    }
}
