@use '~sprucecss/scss/spruce';

$sidebar-width: 20rem;

.app {
    background: linear-gradient(180deg, hsl(217, 100%, 97%) 4%, #fff);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include spruce.breakpoint(md) {
        &-sidebar {
            width: $sidebar-width;
        }

        &-body {
            margin-inline-start: $sidebar-width;
        }
    }
}

.app-widget {
    margin-block-start: 1.5rem;
}

.form-group--submit {
    background-color: spruce.color(background);
    box-shadow: 0 0.25rem 2rem 0 rgba(74, 104, 179, 0.15);
    display: flex;
    flex-wrap: wrap;
    inset: auto 0 0 0;
    gap: spruce.spacer(s);
    padding-block: var(--root-gutter-md);
    padding-inline: var(--root-gutter-lg);
    position: fixed;
    width: auto !important;
    z-index: 115;

    @include spruce.breakpoint(md) {
        inset: auto 0 0 calc(20rem);
    }
}
