@forward 'config';
@forward 'styles';

@forward 'components';
@forward 'layout';
@forward 'auth';
@forward 'sprucecss-expansion';

@use '~sprucecss/scss/spruce';

:root {
    --gutter-lg: clamp(#{spruce.spacer(s)}, 3vw, #{spruce.spacer(l)});
    --gutter-md: clamp(#{spruce.spacer(s)}, 2vw, #{spruce.spacer(m)});
}

.hidden {
    display: none;
}
