@forward 'config';
@forward 'component';
@forward 'layout';
@forward 'plugin';
@forward 'auth';
@forward 'sprucecss-expansion';

@use '~sprucecss/scss/spruce';

:root {
    @include spruce.set-css-variable((
        --box-shadow: 0 0.25rem 2rem 0 hsl(223 42% 50% / 0.15),
        --gutter-lg: clamp(#{spruce.spacer(s)}, 3vw, #{spruce.spacer(l)}),
        --gutter-md: clamp(#{spruce.spacer(s)}, 2vw, #{spruce.spacer(m)}),
        --logo-height: 1.35rem,
        --mobile-logo-height: 1.15rem
    ));
}
