@forward 'config';
@forward 'component';
@forward 'layout';
@forward 'plugin';
@forward 'auth';
@forward 'sprucecss-expansion';

@use '~sprucecss/scss/spruce';

:root {
    @include spruce.set-css-variable((
        --box-shadow: 0 0.25rem 2rem 0 hsl(223 42% 50% / 0.15),
        --gutter-lg: spruce.spacer-clamp(m, l),
        --gutter-md: spruce.spacer-clamp(s, 2.25rem),
        --logo-height: 1.35rem,
        --mobile-logo-height: 1.15rem
    ));
}
