@use 'sass:color';
@use 'sass:map';
@use '~sprucecss/scss/spruce';

.app-alert {
    @include spruce.layout-stack(spruce.spacer(s));
    margin-block-start: 1.5rem;
}

.alert {
    align-items: center;
    border: 1px solid;
    border-left: 0.35rem solid;
    border-radius: spruce.$border-radius-lg;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    gap: spruce.spacer(m);
    justify-content: space-between;
    padding: 0.75em 1em;

    @each $name, $value in map.get(spruce.$colors, alert) {
        @at-root .alert--#{$name} {
            background-color: color.scale($value, $lightness: 90%);
            color: color.scale($value, $lightness: -30%);
        }

        @at-root .alert--#{$name} .alert__close {
            background-color: color.scale($value, $lightness: -30%);
            color: color.scale($value, $lightness: 90%);
        }
    }

    &__close {
        @include spruce.clear-btn;
        align-items: center;
        border-radius: spruce.$border-radius-lg;
        display: flex;
        height: 1.5rem;
        justify-content: center;
        transition: opacity var(--#{spruce.setting(prefix)}-transition-duration) var(--#{spruce.setting(prefix)}-transition-timing-function);
        width: 1.5rem;

        &:hover,
        &:focus {
            opacity: 0.75;
        }

        svg {
            height: 0.5rem;
            width: 0.5rem;
        }
    }
}
