@use '~sprucecss/scss/spruce';

.app-card {
    margin-block-start: spruce.spacer(m);
}

.card {
    background-color: spruce.color(background);
    border-radius: spruce.$border-radius-lg;
    box-shadow: 0 0.25rem 2rem 0 rgba(74, 104, 179, 0.15);
    padding: var(--gutter-md);

    &--body {
        grid-area: body;
    }

    &--sidebar {
        grid-area: sidebar;
    }

    &__header {
        margin-block-end: spruce.spacer(s);
    }

    &__title {
        color: spruce.color(secondary);
        font-size: spruce.$font-size-sm;
        font-weight: 700;
        letter-spacing: 0.2px;
        margin-block: 0;
        text-transform: uppercase;
    }

    &__inner {
        @include spruce.layout-stack(spruce.spacer(s));

        fieldset {
            @include spruce.layout-stack(spruce.spacer(xs));
        }
    }
}
