@use '~sprucecss/scss/spruce';

.accordion-wrapper {
    > * + * {
        border-block-start: 1px solid spruce.color(border);
    }
}

.accordion {
    background-color: spruce.color(background, form);
    border-radius: spruce.$border-radius-sm;
    padding-block: 0.75rem;

    &--read {
        opacity: 0.5;
    }

    &__title {
        color: spruce.color(label, form);
        font-family: spruce.$font-family-base;
        font-size: spruce.responsive-font-size(1rem);
        margin: 0;

        button {
            align-items: center;
            background: none;
            border: 0;
            cursor: pointer;
            display: flex;
            font-weight: 600;
            justify-content: space-between;
            padding: 0;
            text-align: left;
            width: 100%;

            &[aria-expanded='true'] .vert {
                display: none;
            }
        }
    }

    &__caption {
        color: spruce.color(text);
        display: flex;
        flex-direction: column;
        gap: spruce.spacer(xxs);
        width: calc(100% - (2rem + 0.5rem));
    }

    &__meta {
        display: flex;
        font-size: spruce.$font-size-sm;
        font-weight: 400;
        width: 100%;
    }

    &__icon {
        color: spruce.color(primary);
        height: 1.5rem;
        margin-inline-start: spruce.spacer(xs);
        width: 1.5rem;
    }

    &__content {
        @include spruce.layout-stack(s);
        margin-top: spruce.spacer(xs);
    }
}
