@use 'sprucecss/scss/spruce' as *;

.auth-form {
  @include layout-stack('s');
  margin-block: auto;

  &__title {
    font-weight: 700;
  }

  .or-separator {
    margin-block-start: spacer('m');
  }
}

.form-group-stacked,
.social-logins {
  @include layout-stack('s');
}

.form-label {
  &--space-between {
    display: flex;
    justify-content: space-between;
  }
}
