@use '~sprucecss/scss/spruce';

.app-card {
    margin-block-start: 1.5rem;
}

.card {
    background-color: spruce.color(background);
    border-radius: spruce.$border-radius-lg;
    box-shadow: var(--box-shadow);
    padding: var(--gutter-md);

    &__header {
        margin-block-end: spruce.spacer(s);
    }

    &__title {
        color: spruce.color(secondary);
        font-size: spruce.font-size(h4);
        margin-block: 0;
    }

    &__inner {
        @include spruce.layout-stack(spruce.spacer(s));

        fieldset {
            @include spruce.layout-stack(spruce.spacer(xs));
        }
    }
}
