@use '~sprucecss/scss/spruce';

.app-card {
    margin-block-start: 1.5rem;
}

.card {
    background-color: spruce.color(background);
    border-radius: spruce.$border-radius-lg;
    box-shadow: spruce.get-css-variable(--box-shadow);
    padding: spruce.get-css-variable(--gutter-md);

    &--edit {
        max-width: 50rem;
    }

    &__header {
        margin-block-end: spruce.spacer(s);
    }

    &__title {
        color: spruce.color(secondary);
        font-size: spruce.responsive-font-size(1.15rem, 40);
        margin-block: 0 clamp(spruce.spacer(xs), 3vw, spruce.spacer(s));
    }

    &__inner {
        @include spruce.layout-stack(spruce.spacer(s));

        fieldset {
            @include spruce.layout-stack(spruce.spacer(xs));
        }
    }
}
