@use 'sprucecss/scss/spruce' as *;

.app-card {
  $this: &;
  background-color: color('background');
  border: 1px solid color('border');
  border-radius: config('border-radius-sm', $display);
  box-shadow: 0 0 spacer('xxs') hsl(201.15deg 72.03% 32.71% / 5%);

  &:focus-within {
    z-index: 5;
  }

  &--edit {
    #{$this}__header {
      padding-inline: spacer('m');
    }

    #{$this}__body {
      padding: spacer('m');
    }
  }

  &--setting {
    #{$this}__body {
      @include layout-stack(0.75rem);
      padding: spacer('m');
    }

    #{$this}__content {
      @include layout-stack('xs');
    }
  }

  &--sidebar {
    display: grid;
    gap: spacer-clamp('m', 'l');
    grid-template-columns: minmax(0, 1fr);
    padding: spacer('m');

    @include breakpoint('md') {
      grid-template-columns: minmax(0, 13.5rem) minmax(0, 1fr);
    }

    > #{$this}__body {
      @include layout-stack('m');
      padding: 0;
    }
  }

  &--info {
    box-shadow: none;

    #{$this}__header {
      border-block-end: 0;
      min-block-size: 0;
      padding-block: spacer('m') 0;
      padding-inline: spacer('m');
    }

    #{$this}__body {
      padding: spacer('m');
    }
  }

  &__header {
    align-items: center;
    border-block-end: 1px solid color('border');
    display: flex;
    flex-wrap: wrap;
    gap: spacer('xs') spacer('m');
    justify-content: space-between;
    min-block-size: 3.4rem;
    padding: 0.75rem spacer('s');
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: spacer('xs');
    margin-inline-start: auto;
  }

  &__title {
    font-size: font-size('h4');
    font-weight: 600;
    margin-block: 0;
  }

  &__body {
    padding: spacer('s');

    &--plain {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
  }
}
