@use 'sprucecss/scss/spruce' as *;

.context-menu {
  --inset-block-start: calc(100% + 1rem);
  --inline-size: 10rem;

  @include clear-list;
  @include transition;
  background-color: color('background');
  border: 1px solid color('border');
  border-radius: config('border-radius-sm', $display);
  box-shadow: 0 0 spacer('xxs') hsl(200deg 72% 33% / 5%);
  font-size: 0.938rem;
  inline-size: var(--inline-size);
  position: absolute;
  z-index: 10;

  &--inline-start {
    inset: var(--inset-block-start) auto auto 0;
  }

  &--inline-end {
    inset: var(--inset-block-start) 0 auto auto;
  }

  > li {
    display: flex;
    flex-direction: column;
  }

  > li + li {
    border-block-start: 1px solid color('border');
    margin-block-start: 0;
  }

  &__item {
    align-items: center;
    background: none;
    block-size: 2.25rem;
    border: 0;
    border-radius: config('border-radius-sm', $display);
    color: color('text');
    display: flex;
    justify-content: space-between;
    line-height: config('line-height-md', $typography);
    margin: 0.15em;
    padding-block: 0.25em;
    padding-inline: 0.6em;
    text-decoration: none;

    &:hover:not([aria-current='page'], :has(.theme-switcher)) {
      background-color: color('primary-lightest');
    }

    &[aria-current='page'] {
      color: color('primary');
    }
  }
}
