@use '~sprucecss/scss/spruce';

.form-layout {
    align-items: start;
    display: grid;
    gap: spruce.spacer(s);
    margin-block-end: calc(#{spruce.get-css-variable(--gutter-lg)} + #{spruce.get-css-variable(--gutter-md)} * 2  + 2 * 0.75em + #{spruce.$font-size-base});
}
