@use '~sprucecss/scss/spruce';

.app-header {
    align-items: center;
    column-gap: spruce.spacer(l);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block-start: spruce.spacer(m);
    row-gap: spruce.spacer(s);

    &__heading {
        display: flex;
        flex-direction: column;
        gap: spruce.spacer(xxs);
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(s);
    }

    &__title {
        font-size: spruce.font-size(h3);
        font-weight: 800;
        margin: 0;
    }
}
