@forward 'alert';
@forward 'auth-form';
@forward 'badge';
@forward 'block-navigation';
@forward 'breadcrumb-list';
@forward 'card';
@forward 'context-menu';
@forward 'data-group';
@forward 'data-table';
@forward 'form';
@forward 'open-search';
@forward 'or-separator';
@forward 'pagination';
@forward 'preloader';
@forward 'prism';
@forward 'range-group';
@forward 'skip-link';
@forward 'theme-switcher';
@forward 'user-menu';
@forward 'modal';
@forward 'notification';
@forward 'media-uploader';
@forward 'search-modal';
@forward 'widget';
