@use 'sass:color';
@use '~sprucecss/scss/spruce';

.media-item-list {
    &__body {
        --columns: 2;

        @include spruce.breakpoint(sm) {
            --columns: 3;
        }

        @include spruce.breakpoint(md) {
            --columns: 4;
        }

        @include spruce.breakpoint(lg) {
            --columns: 6;
        }

        @include spruce.breakpoint(xl) {
            --columns: 7;
        }

        align-items: flex-start;
        display: grid;
        flex: 1 1 calc(100% - 24rem);
        grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
        grid-auto-rows: max-content;
        gap: 2rem;
    }

    &-wrapper {
        &.is-sidebar-open {
            display: grid;
            gap: 2rem;
            grid-template-columns: minmax(0, 1fr);

            @include spruce.breakpoint(md) {
                grid-template-columns: minmax(0, 1fr) 25rem;
            }
        }
    }
}

.uploader-item {
    align-items: center;
    border-radius: spruce.$border-radius-lg;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-self: center;
    padding: 1.5rem;
    width: 100%;

    &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &__progress {
        background-color: spruce.color(primary);
        border-radius: spruce.$border-radius-sm;
        height: 1rem;
    }

    &__error {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        width: 100%;
    }
}

.media-item {
    $this: &;

    aspect-ratio: 1;
    border-radius: spruce.$border-radius-lg;
    position: relative;
    overflow: hidden;
    width: 100%;

    &:hover,
    &:focus,
    &:focus-within {
        #{$this}__actions {
            opacity: 1;
        }
    }

    &.is-document {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.02);
        display: flex;
        justify-content: center;
        justify-self: center;
    }

    &.is-svg {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.02);
        display: flex;
        justify-content: center;
        justify-self: center;

        img {
            height: auto;
            width: 70%;
        }
    }

    &.is-selected {
        &::before {
            border-radius: spruce.$border-radius-lg;
            bottom: 0;
            box-shadow: 0 0 0 4px spruce.color(primary) inset;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &.is-loading {
        background-image: url('/vendor/root/image-loading-placeholder.svg');
        background-position: center;
        background-size: cover;

        img {
            display: none !important;
        }
    }

    &.is-small {
        #{$this}__actions {
            inset: auto 0.55rem 0.55rem auto;
        }

        .media-item__caption {
            font-size: 0.7rem;
            padding: 0.5rem;

            .icon {
                height: 1.25rem;
                width: 1.25rem;
            }
        }
    }

    &__actions {
        display: flex;
        inset: 0.75rem 0.75rem auto auto;
        gap: spruce.spacer(xs);
        position: absolute;
        opacity: 0;
        transition-duration: spruce.transition(duration);
        transition-property: all;
        transition-timing-function: spruce.transition(timing-function);

        .btn--icon {
            padding: spruce.spacer(xs);
        }
    }

    &__caption {
        align-items: center;
        cursor: default;
        display: flex;
        font-size: spruce.$font-size-sm;
        flex-direction: column;
        line-height: 1.25;
        padding: 1rem;
        text-align: center;

        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-word;

            @supports (-webkit-line-clamp: 2) {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: initial;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
        }

        .icon {
            color: rgba(0, 0, 0, 0.1);
            height: 2rem;
            margin-bottom: 0.5rem;
            width: 2rem;
        }
    }

    img {
        aspect-ratio: 1;
        border-radius: spruce.$border-radius-lg;
        display: block;
        object-fit: cover;
        user-select: none;
        width: 100%;
    }
}

.media-sidebar {
    border-radius: spruce.$border-radius-lg;
    font-size: spruce.$font-size-sm;
    height: 100%;
    position: relative;
    z-index: 1;

    > * + * {
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
        padding-top: 2rem;
    }

    &__title {
        font-size: 0.9rem;
        margin: 0 0 1rem;
        text-transform: uppercase;
    }

    &__list {
        list-style: none;
        margin-block: spruce.spacer(s);
        padding: 0;

        > li + li {
            margin-top: 0.75rem;
        }

        li {
            line-height: 1.25;
        }
    }
}

.selected-media-item-list {
    --columns: 2;

    margin-block-start: spruce.spacer(s);

    @include spruce.breakpoint(sm) {
        --columns: 3;
    }

    @include spruce.breakpoint(md) {
        --columns: 4;
    }

    @include spruce.breakpoint(lg) {
        --columns: 5;
    }

    align-items: flex-start;
    display: grid;
    flex: 1 1 calc(100% - 24rem);
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-auto-rows: max-content;
    gap: 1.5rem;
}

.selected-media-item {
    aspect-ratio: 1;
    border-radius: spruce.$border-radius-lg;
    position: relative;

    &:hover {
        .selected-media-item__remove {
            opacity: 1;
        }
    }

    &__remove {
        align-items: center;
        background-color: rgba(spruce.color(danger, alert, $only-color: true), 0.8);
        border: 0;
        border-radius: spruce.$border-radius-sm;
        display: flex;
        height: 1.4rem;
        justify-content: center;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        transition-duration: spruce.transition(duration);
        transition-property: all;
        transition-timing-function: spruce.transition(timing-function);
        width: 1.4rem;

        &:hover {
            background-color: spruce.color(danger, alert);
        }

        .icon {
            color: #fff;
            height: 0.75rem;
            width: 0.75rem;
        }
    }

    &__document {
        aspect-ratio: 1;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.02);
        border-radius: spruce.$border-radius-sm;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;

        .icon {
            color: rgba(0, 0, 0, 0.1);
            height: 2rem;
            margin-block-end: spruce.spacer(xs);
            width: 2rem;
        }
    }

    img {
        aspect-ratio: 1;
        border-radius: spruce.$border-radius-lg;
        object-fit: cover;
    }
}

.modal-body {
    &.has-active-dropzone {
        &::before {
            background-color: color.adjust(spruce.color(primary, $only-color: true), $alpha: -0.4);
            border: 5px dashed spruce.color(primary);
            bottom: 0;
            content: '';
            left: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 5;
        }

        &::after {
            align-items: center;
            bottom: 0;
            color: #fff;
            content: attr(data-dropzone-text);
            display: flex;
            font-size: 1.4rem;
            font-weight: 700;
            justify-content: center;
            left: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            top: 0;
            z-index: 10;
        }
    }
}

.media-accordions {
    > * + * {
        border-top: 1px dashed #efefef;
        margin-top: 1rem;
        padding-top: 1rem;
    }
}

.media-accordion {
    &__heading {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        align-items: center;
        font-size: spruce.$font-size-sm;
        font-weight: 400;
        display: flex;
        margin: 0;
    }

    &__image-wrapper {
        border-radius: spruce.$border-radius-sm;
        height: 1.5rem;
        margin-inline-end: spruce.spacer(xs);
        width: 1.5rem;

        &.is-loading {
            background-image: url('/vendor/root/image-loading-placeholder.svg');
            background-position: center;
            background-size: cover;

            img {
                display: none !important;
            }
        }
    }

    &__image {
        border-radius: spruce.$border-radius-sm;
        height: 1.5rem;
        width: 1.5rem;
    }

    &__icon {
        color: spruce.color(primary);
        height: 1.5rem;
        margin-inline-end: spruce.spacer(xs);
        width: 1.5rem !important;
    }

    &__caption {
        @include spruce.text-ellipsis(1);
        width: 10rem;
    }

    &__content {
        display: none;
        margin-top: 1rem;

        &.is-open {
            display: block;
        }
    }
}
