@use '~sprucecss/scss/spruce';

.app-topbar {
    &__inner {
        align-items: center;
        border-block-end: 1px solid spruce.color(border, sidebar);
        display: flex;
        gap: spruce.spacer(m);
        justify-content: space-between;
        margin-inline: var(--root-gutter-lg);
        padding-block: spruce.spacer(s);
    }

    &__logo {
        height: var(--root-mobile-logo-height);
        width: auto;

        @include spruce.breakpoint(md) {
            display: none;
        }
    }

    &__actions {
        align-items: center;
        display: flex;
        gap: spruce.spacer(s);
    }

    .user-menu__caption {
        display: none;

        @include spruce.breakpoint(xs) {
            display: flex;
        }
    }

    .user-menu-navigation {
        inset-inline-start: initial;
        min-width: 12rem;
    }
}
