@use '~sprucecss/scss/spruce';

.modal-backdrop {
    align-items: start;
    background-color: hsl(230deg 100% 9% / 40%);
    display: none;
    inset: 0;
    justify-content: center;
    position: fixed;
    overflow-y: auto;
    z-index: 140;

    &--visible {
        display: flex;
    }
}

.modal {
    background-color: spruce.color(background);
    border-radius: spruce.$border-radius-lg;
    box-shadow: 0 0.25rem 2rem 0 rgba(74, 104, 179, 0.15);
    margin-block: spruce.spacer(m);
    margin-inline: spruce.spacer(s);
    max-width: 40rem;
    padding: spruce.spacer(m);
    width: 30rem;

    &--media {
        inset: spruce.spacer(m);
        max-width: 100%;
        position: fixed;
        width: auto;
    }

    &__title {
        color: spruce.color(secondary);
        font-size: spruce.font-size(h4);
        margin-block: 0;
    }

    &__inner {
        margin-block-start: spruce.spacer(xs);
    }

    &__action {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(s);
        margin-block-start: spruce.spacer(s);
    }

    &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-close {
        align-items: center;
        display: flex;
        height: 2.4rem;
        justify-content: center;
        padding: 0;
        width: 2.4rem;

        .icon {
            height: 1.2em;
            width: 1.2em;
        }
    }

    &-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem 1.5rem;
    }

    &-title {
        margin: 0;
    }

    &-filter {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 2rem;
        padding-bottom: 1.5rem;

        > * {
            margin-right: 1.5rem ;
        }
    }

    &-body {
        flex: 1 1 auto;
        overflow-y: auto;
        padding: 1.5rem 2rem 2rem;
    }

    &-footer {
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1.5rem 2rem;
    }

    &-footer-actions {
        > * {
            margin: 0.5rem 1rem 0.5rem 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .modal-help-text {
        margin: 0.35rem 0;
    }
}
