@use '~sprucecss/scss/spruce';

.app-operation {
    display: flex;
    flex-wrap: wrap;
    column-gap: spruce.spacer(m);
    margin-block-start: 1.5rem;
    row-gap: spruce.spacer(s);

    &__edit {
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(s);
    }
}
