@use '~sprucecss/scss/spruce';

.app-operation {
    align-items: center;
    column-gap: spruce.spacer(m);
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 1.5rem;
    row-gap: spruce.spacer(s);

    &__edit {

        background-color: spruce.color(background);
        border-radius: spruce.$btn-border-radius;
        box-shadow: var(--root-box-shadow);
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(xs);
        margin-inline-start: auto;
        padding: spruce.spacer(xs);

        &:empty {
            display: none;
        }
    }
}
