@use '~sprucecss/scss/spruce';

.app-operation {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: spruce.spacer(m);
    margin-block-start: 1.5rem;
    row-gap: spruce.spacer(s);

    &__edit {
        &:empty {
            display: none;
        }

        background-color: spruce.color(background);
        border-radius: spruce.$btn-border-radius;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-wrap: wrap;
        gap: spruce.spacer(xs);
        margin-inline-start: auto;
        padding: spruce.spacer(xs);
    }
}
