@use '~sprucecss/scss/spruce';

.user-menu-wrapper {
    position: relative;
    width: 100%;
}

.user-menu {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    gap: spruce.spacer(s);
    justify-content: space-between;
    padding: 0;
    position: relative;
    width: 100%;

    &[aria-expanded='true'] + .user-menu-navigation {
        display: block;
    }

    &__toggle {
        align-items: center;
        background-color: spruce.color(active, sidebar);
        border: none;
        border-radius: spruce.$border-radius-lg;
        display: flex;
        gap: spruce.spacer(s);
        height: 2.3rem;
        justify-content: center;
        padding: 0;
        width: 1.15rem;
    }

    &__avatar {
        border-radius: spruce.$border-radius-lg;
        height: 2.3rem;
        width: 2.3rem;
    }

    &__arrow {
        color: spruce.color(primary);
        height: 1rem;
        width: 1rem;
    }

    &__caption {
        align-items: start;
        display: flex;
        flex-direction: column;
        margin-inline-end: auto;
    }

    &__name {
        color: spruce.color(heading);
        font-weight: 700;
    }

    &__role {
        font-size: spruce.$font-size-sm;
        margin-top: 0.2rem;
    }
}

.user-menu-navigation {
    @include spruce.layout-stack(0.85rem);
    background-color: spruce.color(background);
    border: 1px solid spruce.color(border, sidebar);
    border-radius: spruce.$border-radius-lg;
    display: none;
    inset-inline: 0;
    list-style: none;
    margin: 0;
    padding-block: spruce.spacer(s);
    padding-inline: calc(#{spruce.spacer(s)} + 0.25rem);
    position: absolute;

    &--top {
        inset-block-end: calc(100% + #{spruce.spacer(s)});
    }

    &--bottom {
        inset-block-start: calc(100% + #{spruce.spacer(s)});
    }

    &__item {
        background: transparent;
        border: 0;
        color: spruce.color(heading);
        cursor: pointer;
        display: flex;
        font-weight: 500;
        line-height: spruce.$line-height-md;
        padding: 0;
        text-decoration: none;
        transition-duration: spruce.transition(duration);
        transition-property: color;
        transition-timing-function: spruce.transition(timing-function);
        width: 100%;

        &:hover,
        &:focus,
        &.is-active {
            color: spruce.color(primary);
            text-decoration: none;
        }

        &[aria-current='page'] {
            color: var(--color-secondary);
            font-weight: 700;
        }
    }
}
