$color-primary-light: hsl(215 100% 96%);
$color-primary: hsl(214 98% 49%);
$color-delete: hsl(0 71% 51%);

@use '~sprucecss/scss/spruce' with (
    $settings: (
        prefix: root,
        utilities: true
    ),
    $color-primary: $color-primary,
    $color-secondary: hsl(214 98% 25%),
    $colors: (
        base: (
            primary-light: $color-primary-light,
            heading: hsl(238 69% 22%),
            text: hsl(207 44% 20%)
        ),
        btn: (
            primary-foreground-opaque: hsl(0 0% 100% / 0.75),
            secondary-foreground-opaque: hsl(0 0% 100% / 0.75),
            tertiary-background: $color-primary-light,
            tertiary-background-hover: $color-primary,
            tertiary-foreground: $color-primary,
            tertiary-foreground-hover: $color-primary-light,
            tertiary-focus-ring: $color-primary,
            delete-foreground: $color-delete,
            delete-foreground-hover: hsl(0 0% 100%),
            delete-background: hsl(0 71% 95%),
            delete-background-hover: $color-delete,
            delete-focus-ring: $color-delete,
            yellow-foreground: hsl(0 0% 0%),
            yellow-background: hsl(45 100% 49%),
            yellow-background-hover: hsl(45 100% 56%)
        ),
        form: (
            border: hsl(223 16% 80%),
            border-focus: $color-primary,
            check-background: hsl(214 98% 25%),
            fieldset-background: hsl(210 100% 99%),
            select-foreground: hsl(214 98% 25%),
            range-background: hsl(210 50% 98%),
            range-border: hsl(213 20% 83%)
        ),
        table: (
            border: $color-primary-light,
            hover: $color-primary-light,
            stripe: hsl(216 100% 98%)
        ),
        breadcrumb: (
            arrow: hsl(0 0% 0% / 0.1)
        ),
        sidebar: (
            border: hsl(214 100% 90%),
            icon: hsl(245 37% 83%),
            active: $color-primary-light
        )
    ),
    $spacers: (
        m: 2rem
    ),
    $font-family-base: #{'Inter', sans-serif},
    $font-family-heading: #{'Poppins', sans-serif},
    $font-size-sm: 0.8375rem,
    $font-size-base: 0.9375rem,
    $border-radius-sm: 0.25rem,
    $border-radius-lg: 0.5rem,
    $btn-border-radius: 0.5rem,
    $btn-font-size-sm: 0.8675rem,
    $btn-font-weight: 600,
    $btn-icon-size-sm: 0.7em,
    $btn-padding-sm: 0.65em 0.95em,
    $form-control-font-size-sm: 0.9375rem,
    $form-label-font-weight: 600,
    $table-padding-sm: 0.5rem,
    $transition-duration: 0.1s,
    $table-stripe: even
);
