@use 'sass:color';

$dark-color-black: hsl(240deg 19% 14%);
$dark-color-danger: hsl(0deg 71% 51%);
$dark-color-gray-dark: hsl(0deg 0% 100% / 4%);
$dark-color-gray: hsl(0deg 0% 97%);
$dark-color-primary: hsl(211deg 99% 46%);
$dark-color-secondary: hsl(160 89% 46%);
$dark-color-success: hsl(150deg 100% 33%);
$dark-color-white: hsl(0deg 0% 95%);

$colors: (
  'base': (
    'background': $dark-color-black,
    'blockquote-border': $dark-color-primary,
    'border': $dark-color-gray-dark,
    'card-border': hsl(207deg 90% 13%),
    'code-background': hsl(207deg 64% 21%),
    'code-foreground': $dark-color-white,
    'footer-background': hsl(0deg 0% 0% / 15%),
    'heading': $dark-color-white,
    'link-hover': hsl(205deg 100% 62%),
    'link': hsl(205deg 100% 56%),
    'mark-background': hsl(50deg 100% 80%),
    'mark-foreground': $dark-color-black,
    'marker': $dark-color-primary,
    'primary': $dark-color-primary,
    'primary-lightest': hsl(240deg 19% 16%),
    'secondary': $dark-color-secondary,
    'text': $dark-color-gray,
  ),
  'breadcrumb': (
    'arrow': hsl(0deg 0% 100% / 10%),
  ),
  'btn': (
    'dark-background': hsl(0deg 0% 100%),
    'dark-background-hover': hsl(0deg 0% 95%),
    'dark-foreground': hsl(205deg 100% 5%),
    'dark-outline-border': hsl(0 0% 100% / 15%),
    'dark-outline-foreground': hsl(0deg 0% 100%),
    'dark-outline-foreground-hover': hsl(205deg 100% 2%),
    'dark-outline-background-hover': hsl(0deg 0% 100%),
    'dark-outline-focus-ring': hsl(0deg 0% 100%),
    'light-background': hsl(240deg 19% 12%),
    'light-background-hover': $dark-color-primary,
    'light-focus-ring': $dark-color-primary,
    'light-foreground': $dark-color-primary,
    'light-foreground-hover': hsl(0deg 0% 100%),
    'primary-background': $dark-color-primary,
    'primary-background-hover': color.adjust($dark-color-primary, $lightness: 10%),
    'primary-foreground': hsl(0deg 0% 100%),
    'primary-shadow': color.adjust($dark-color-primary, $lightness: -25%),
    'primary-outline-foreground': hsl(211deg 99% 60%),
    'secondary-background': $dark-color-secondary,
    'secondary-background-hover': color.adjust($dark-color-secondary, $lightness: 5%),
    'secondary-foreground': $dark-color-white,
  ),
  'card': (
    'background': $dark-color-black,
  ),
  'combobox': (
    'item-background': hsl(240deg 19% 12%),
    'item-foreground': $dark-color-primary,
  ),
  'data-table': (
    'icon': hsl(0deg 0% 100% / 0.1),
  ),
  'form': (
    'background': color.scale($dark-color-black, $lightness: 5%),
    'background-disabled': $dark-color-black,
    'border-disabled': $dark-color-gray-dark,
    'border-focus': $dark-color-primary,
    'border': $dark-color-gray-dark,
    'check-background': $dark-color-primary,
    'check-foreground': $dark-color-black,
    'group-label-background': color.scale($dark-color-black, $lightness: 2.5%),
    'group-label-foreground': $dark-color-gray,
    'invalid': $dark-color-danger,
    'invalid-shadow': color.adjust($dark-color-danger, $alpha: -0.75),
    'label': $dark-color-white,
    'legend': $dark-color-white,
    'placeholder': hsl(0deg 0% 90%),
    'select-foreground': hsl(0deg 0% 100%),
    'shadow-focus': color.adjust($dark-color-primary, $alpha: -0.75),
    'text': $dark-color-gray,
    'valid': $dark-color-success,
    'valid-shadow': color.adjust($dark-color-success, $alpha: -0.75),
  ),
  'header': (
    'background': hsl(240deg 19% 12% / 95%),
  ),
  'navigation': (
    'arrow': hsl(0deg 0% 100% / 15%),
    'icon-background': hsl(245deg 38% 10%),
    'icon-background-hover': $dark-color-primary,
    'icon-foreground': $dark-color-primary,
    'icon-foreground-hover': hsl(186deg 100% 5%),
  ),
  'main': (
    'background': hsl(240deg 19% 13%),
  ),
  'modal': (
    'background': hsla(240, 3%, 7%, 0.9),
  ),
  'prism': (
    'color': hsl(217deg 34% 88%),
    'background': hsl(245deg 38% 7%),
    'comment': hsl(180deg 9% 55%),
    'punctuation': hsl(276deg 68% 75%),
    'namespace': hsl(197deg 31% 77%),
    'deleted': hsl(1deg 83% 63% / 56%),
    'boolean': hsl(350deg 100% 67%),
    'number': hsl(14deg 90% 70%),
    'constant': hsl(221deg 100% 75%),
    'class-name': hsl(33deg 100% 77%),
    'regex': hsl(217deg 34% 88%),
  ),
  'table': (
    'border': $dark-color-gray-dark,
    'caption': $dark-color-gray,
    'heading': $dark-color-white,
    'hover': hsl(0deg 0% 100% / 5%),
    'stripe': hsl(0deg 0% 100% / 2.5%),
    'text': $dark-color-gray,
  ),
  'selection': (
    'background': $dark-color-primary,
    'foreground': hsl(0deg 0% 100%),
  ),
  'search': (
    'icon': hsl(0deg 0% 100% / 25%),
  ),
  'scrollbar': (
    'thumb-background': hsl(0 0% 100% / 15%),
    'thumb-background-hover':	hsl(0 0% 100% / 25%),
    'track-background':	hsl(0 0% 100% / 5%),
  ),
  'widget': (
    'icon-background': color.adjust($dark-color-black, $lightness: 5%),
  ),
);
