@use '~sprucecss/scss/spruce';

.app-filter {
    background-color: spruce.color(background);
    box-shadow: 0 0.25rem 2rem 0 rgba(74, 104, 179, 0.15);
    inset: 0 auto 0 0;
    padding: spruce.spacer(m);
    position: fixed;
    width: 20rem;
    z-index: 130;

    &__title {
        align-items: center;
        display: flex;
        font-size: spruce.font-size(h4);
        gap: spruce.spacer(m);
        justify-content: space-between;
    }

    &__inner {
        @include spruce.layout-stack(spruce.spacer(xs));
    }
}
