@use 'sprucecss/scss/spruce' as *;

.l-row {
    align-items: start;
    display: grid;
    gap: spacer('m');
    grid-template-columns: minmax(0, 1fr);

    @each $name, $breakpoint in $breakpoints {
        @for $i from 1 through 4 {
            @include breakpoint($name) {
                &--column\:#{$name}\:#{$i} {
                    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
                }
            }
        }
    }

    &--sidebar {
        @include breakpoint('lg') {
            grid-template-columns: minmax(0, 1fr) minmax(0, 20rem);
        }
    }

    &__column {
        display: grid;
        gap: spacer('m');
        grid-template-columns: minmax(0, 1fr);
    }
}
