@use 'sprucecss/scss/spruce' as *;

.search-form {
    $this: &;
    position: relative;

    &--sm {
        #{$this}__control {
            padding-inline-start: 1.75em;
        }

        #{$this}__submit {
            padding-inline: 0.6em;
        }

        #{$this}__icon {
            --dimension: 0.75rem;
        }
    }

    &__control {
        padding-inline-start: 2.15em;
    }

    &__submit {
        align-items: center;
        background: none;
        border: 0;
        color: color('border', 'form');
        display: flex;
        inset: 0 auto 0 0;
        justify-content: center;
        padding-block: 0;
        padding-inline: 0.75em;
        position: absolute;
    }

    &__icon {
        --dimension: 0.9rem;
        block-size: var(--dimension);
        inline-size: var(--dimension);
    }
}
